.main-container {
    display: grid;
    grid-template-columns: var(--sidebar-width) minmax(0, 1fr);
    grid-template-rows: var(--top-bar-height) 1fr;
    width: 100%;
    flex: 1;
    min-height: 100vh;
}

.dashboard {
    position: relative;
    grid-column: 2;
    padding: 36px 2.21vw 40px;
    grid-row: 2;
}


.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.dashboard-inner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-column: span 3;
}

.span-2-g {
    grid-column: span 1.5;
}




@media (max-width: 1024px) {
    .main-container {
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: var(--top-bar-height) minmax(0, 1fr);
    }

    .dashboard {
        grid-column: 1;
        min-width: 0;
    }
}
